.burger-color--contact {
    fill: #fff;
}

.burger-color-close--contact {
    fill: #fff;
}

.background-color {
    background: #000;
}

.flex-column {
    @include flex-column;
    .send-btn {
        background: #fff;
        border: 0;
        padding: 10px 0 10px;
        margin-top: 10px;
        font-family: $text_font;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 7px;
        &:hover {
            background: #000;
            color: #fff;
            outline: 1px #fff solid;
        }
    }

    .label-margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .input-height {
        height: 30px;
        font-family: $text_font;
    }
}

.myself {
    max-width: 100%;
    margin-top: 10px;
}

.contact-my-name {
    margin: 0;
    text-transform: initial;
    font-size: 1.2rem;
}

.mandatory::after{
    content: " *";
}

.error {
    outline: 2px solid red;
}

@media (min-width: 768px) {
    .flex-container {
    display: flex;
    justify-content: space-between;
        .flex-column{
            flex-basis: 50%;
        }
        .flex-basis {
            flex-basis: 50%;
            flex-direction: column;
            margin-left: 30px;
            margin-top: 25px;
        }
    }
}