* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.reset {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-left: 3%;
    margin-right: 3%;
}

.button-reset {
    border: none;
    background: none;
}

.sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
}


h1 {
    font-family: $text_font;
    color: $text_color;
}

h2 { 
    font-family: $text_font;
    text-transform: uppercase;
    color: $text_color;
}

p {
    font-family: $text_font;
    color: $text_color;
}

a {
    font-family: $text_font;
    color: $text_color;
}

label {
    font-family: $text_font;
    color: $text_color;
    text-transform: uppercase;
    font-weight: 800;
}

textarea {
    font-family: $text_font;
}

