header {
    position: absolute;
    z-index: 3;
    margin: 3%;
}

.burger-menu {
    border-style: none;
    background: none;
    padding: 0;


    .burger-style {
        width: 25px;
    }

    .burger-color {
            fill: #fff;
        }
    
    
}

