header {
    position: absolute;
    z-index: 3;
}

.burger-menu {
    border-style: none;
    background: none;
    margin-left: 10px;
    margin-top: 20px;

    .burger-style {
        width: 25px;
    }

    .burger-color {
            fill: #fff;
        }
    
    
}

