@import "./var";
@import "./header";
@import "./default-styling";
@import "./animations";

.homescreen-img {
    display: flex;
    width: 100%;
}

.flex {
    display: flex;
}

.slider-container {
    overflow: hidden;
}

.slider-width {
    overflow: hidden;
    position: relative;
    left: 0;
    height: 100%;
}

.container-relative {
    position: relative;
    z-index: 1;
    .container-absolute {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}


.description {
    margin-bottom: 30px;
}

.flex-between {
    @include space-between;
    margin-bottom: 20px;
    
    .button-reset {
        @include button-reset;
        color: $text_color;
        font-family: $text_font;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1rem;
    }

    .gallery-link {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 800;
        font-size: 1rem;
    }
}





