@import "./var";
@import "./default-styling";
@import "./header";
@import "./animations";
@import "./contact";
@import "./gallery";

.homescreen-img {
    display: flex;
    width: 100%;
}

.flex {
    display: flex;
}

.slider-container {
    overflow: hidden;
}

.slider-width {
    overflow: hidden;
    position: relative;
    left: 0;
    height: 100%;
}

.container-relative {
    position: relative;
    z-index: 1;
    .container-absolute {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.description {
    margin-bottom: 30px;
}

.flex-between {
    @include space-between;
    margin-bottom: 20px;

    .button-reset {
        @include button-reset;
        color: $text_color;
        font-family: $text_font;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1rem;
    }

    .gallery-link {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 800;
        font-size: 1rem;
    }
}

.arrow-control-container {
    display: none;
}

.inside-page {
    position: static;
}

@media (min-width: 1200px) {
    .j-nav {
        transition: opacity 0.3s ease-in-out;
    }
    .burger-menu {
        display: none;
    }

    .hide-nav {
        display: flex;
        position: fixed;
        transform: translate(0, 0);
        top: auto;
        left: auto;
        transition: opacity ease-in-out 0.2s;
        .burger-nav__link {
            margin-right: 70px;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }

    .about-me {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .description {
        font-size: 1.5rem;
    }

    .hide-control {
        display: none;
    }

    .slider-animation {
        transition: left 1s ease-in;
    }

    .arrow-control-container {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        .arrow-control {
            display: flex;
            justify-content: space-between;
        }
    }

    .arrow-size {
        width: 50px;
    }

    .arrow-fill {
        fill: #fff;
    }

    .overlay-container .image-stage {
        height: calc(100% - 200px);
    }
    .hide-content {
        display: block;
    }
}

@media (min-width: 1920px) {
    body {
        max-width: 1920px;
        margin: 0 auto;
    }

}
