* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-left: 3%;
  margin-right: 3%;
}

.button-reset {
  border: none;
  background: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1 {
  font-family: "quasimoda", "Arial", sans-serif;
  color: #fff;
}

h2 {
  font-family: "quasimoda", "Arial", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

p {
  font-family: "quasimoda", "Arial", sans-serif;
  color: #fff;
}

a {
  font-family: "quasimoda", "Arial", sans-serif;
  color: #fff;
}

label {
  font-family: "quasimoda", "Arial", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
}

textarea {
  font-family: "quasimoda", "Arial", sans-serif;
}

header {
  position: absolute;
  z-index: 3;
  margin-top: 3%;
  padding-bottom: 3%;
}

.hide-nav,
.close-hide {
  display: none;
}

.burger-menu {
  border-style: none;
  background: none;
  padding: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  z-index: 4;
  position: fixed;
}

.burger-menu .burger-style {
  width: 25px;
  height: 25px;
}

.burger-menu .burger-color {
  fill: #fff;
}

.j-burger-nav {
  display: none;
}

.burger-nav {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 1.5rem;
  text-align: center;
  z-index: 5;
}

.burger-nav li {
  margin-bottom: 30px;
}

.burger-nav .burger-nav__link {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  display: none;
}

.homescreen-fadein {
  -webkit-animation: fadeInImg 1s ease-in;
          animation: fadeInImg 1s ease-in;
}

.text-color-change * {
  -webkit-animation: colorChange 1s;
          animation: colorChange 1s;
}

@-webkit-keyframes fadeInImg {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fadeInImg {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.slider-animation {
  -webkit-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;
}

.nav--fade {
  opacity: 0;
}

/* @keyframes colorChange {
    0% {
        color: white;
    }
    100% {
        color: black;
    }
}
 */
.burger-color--contact {
  fill: #fff;
}

.burger-color-close--contact {
  fill: #fff;
}

.background-color {
  background: #000;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-column .send-btn {
  background: #fff;
  border: 0;
  padding: 10px 0 10px;
  margin-top: 10px;
  font-family: "quasimoda", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 7px;
}

.flex-column .send-btn:hover {
  background: #000;
  color: #fff;
  outline: 1px #fff solid;
}

.flex-column .label-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-column .input-height {
  height: 30px;
  font-family: "quasimoda", "Arial", sans-serif;
}

.myself {
  max-width: 100%;
  margin-top: 10px;
}

.contact-my-name {
  margin: 0;
  text-transform: initial;
  font-size: 1.2rem;
}

.mandatory::after {
  content: " *";
}

.error {
  outline: 2px solid red;
}

@media (min-width: 768px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-container .flex-column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .flex-container .flex-basis {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
    margin-top: 25px;
  }
  .space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.prev-position {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.next-position {
  position: absolute;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flex-item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-item img {
  margin: 30px 15px 0;
}

.flex-item img:hover {
  cursor: pointer;
}

.flex-container-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 150px;
}

.to-top-button {
  position: fixed;
  bottom: 10%;
  right: 5%;
}

.to-top-button .to-top {
  width: 50px;
}

.to-top-button .to-top .fill {
  fill: #fff;
}

.overlay-container {
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay-container .image-stage {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.overlay-container .image-stage img {
  max-width: 100%;
  max-height: 80%;
  pointer-events: all;
}

.overlay-container .overlay_close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay-container .overlay_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay-container .overlay_nav .thumbnail_style ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.overlay-container .overlay_nav .thumbnail_style li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.overlay-container .overlay_nav .thumbnail_style img {
  height: 80px;
  margin: 0;
}

.hide-content {
  display: none;
}

.selected {
  outline: 3px solid #fff;
}

.homescreen-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-container {
  overflow: hidden;
}

.slider-width {
  overflow: hidden;
  position: relative;
  left: 0;
  height: 100%;
}

.container-relative {
  position: relative;
  z-index: 1;
}

.container-relative .container-absolute {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.description {
  margin-bottom: 30px;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.flex-between .button-reset {
  background: none;
  border: none;
  color: #fff;
  font-family: "quasimoda", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
}

.flex-between .gallery-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;
}

.arrow-control-container {
  display: none;
}

.inside-page {
  position: static;
}

.sliders-off {
  opacity: .5;
}

.sliders-off:hover {
  cursor: pointer;
}

.slider-on {
  opacity: 1;
}

.slider-on:hover {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .j-nav {
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
  }
  .burger-menu {
    display: none;
  }
  .hide-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    top: auto;
    left: auto;
    -webkit-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
  }
  .hide-nav .burger-nav__link {
    margin-right: 70px;
    opacity: 0.7;
  }
  .hide-nav .burger-nav__link:hover {
    opacity: 1;
  }
  .about-me {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .description {
    font-size: 1.5rem;
  }
  .hide-control {
    display: none;
  }
  .slider-animation {
    -webkit-transition: left 1s ease-in;
    transition: left 1s ease-in;
  }
  .arrow-control-container {
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
  }
  .arrow-control-container button:hover {
    cursor: pointer;
  }
  .arrow-control-container .arrow-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .arrow-size {
    width: 50px;
  }
  .arrow-fill {
    fill: #fff;
  }
  .overlay-container .image-stage {
    height: calc(100% - 200px);
  }
  .hide-content {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */